:root{
    --color-background: #2A2A2A;
    --color-yellow: #FED001;
}

html{
    font-size: 62.5%;

}

body{
    margin: 0;
    font-family: "Maven Pro", serif;
}

.section1{
    min-height: 100vh;
    background-image: url(imagens/HeroImage.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.header-hero{
    display: flex;
    background-color: var(--color-background);
    color: var(--color-yellow);
    align-items: center;
    justify-content: space-between;
}

.logo-hero{
    width: 12rem;
    margin: 1.6rem 1.6rem 1.6rem 6vw;
}

.ul-hero{
    display: flex;
    font-size: 1.6rem;
    margin-right: 6vw;
    list-style: none;
    gap: 2rem;
}

.ul-hero__li{
    border: 1px solid var(--color-yellow);
    padding: .8rem;
    transition: 1s;
}

.ul-hero__li:hover{
    background-color: var(--color-yellow);
    color: #2A2A2A;
}

h1{
    font-size: 5rem;
    width: 40rem;
    letter-spacing: .2rem;
    line-height: 1.4;
    margin: 14rem 0 1rem 4rem;
}

.section1 .cta{
    padding: 1.6rem 5rem;
    margin: 1rem 0 0 4rem;
    text-decoration: none;
    color: #2A2A2A;
    background-color: var(--color-yellow);
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    border-radius: .5rem;
}

.section1 .cta:hover{
    outline: 2px solid #2A2A2A;
}