:root {
  --color-background: #2a2a2a;
  --color-yellow: #fed001;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Maven Pro", serif;
  background-color: #eef3f5;
}

.section1 {
  min-height: 100vh;
  background-image: url(imagens/HeroImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}

.header-hero {
  display: flex;
  background-color: var(--color-background);
  color: var(--color-yellow);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo-hero {
  width: 12rem;
  margin-left: 6vw;
}

.ul-hero {
  display: flex;
  font-size: 1.6rem;
  margin-right: 6vw;
  list-style: none;
  gap: 0.5rem;
}

.ul-hero__li {
  border: 1px solid;
  padding: 0.75em 1.15em;
  transition: 1s;
}

.ul-hero__li a {
  color: inherit;
  text-decoration: none;
  transition: 1s;
}

.ul-hero__li:hover {
  background-color: var(--color-yellow);
}

.ul-hero__li:hover a {
  color: #2a2a2a;
}

h1 {
  font-size: 4.8rem;
  width: 40rem;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  margin: 14rem 0 1rem 4rem;
}

.section1 .cta {
  padding: 1.6rem 4rem;
  margin: 1rem 0 0 4rem;
  text-decoration: none;
  color: #2a2a2a;
  background-color: var(--color-yellow);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 800;
  border-radius: 0.5rem;
}

.section1 .cta:hover {
  outline: 2px solid #2a2a2a;
}

#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.h2-cursos {
  font-size: 4rem;
}

.cursos {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

.cursos__itens {
  width: 30%;
  background-color: white;
  min-height: 36rem;
}

.cursos__itens img {
  width: 100%;
}

.cursos__itens-description {
  padding: 1rem;
}

.cursos__itens-h3 {
  font-size: 3rem;
}

.cursos__itens-p {
  font-size: 1.6rem;
  color: #4d4d4d;
}

#section2 .cta {
  padding: 1.6rem 4rem;
  margin: 3rem 0 10rem 0;
  text-decoration: none;
  color: #2a2a2a;
  background-color: var(--color-yellow);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 800;
  border-radius: 0.5rem;
}

#section2 .cta:hover {
  outline: 2px solid #2a2a2a;
}

#section3 {
  min-height: 85vh;
  background-color: #003464;
  display: flex;
}

#section3 img {
  width: 70%;
  height: 70%;
  align-self: flex-end;
  margin-left: 5rem;
}

.conteudo-escola {
  color: #eef3f5;
  align-self: center;
  padding: 0 9rem 0 3rem;
}

.conteudo-escola h2 {
  font-size: 4rem;
  font-weight: 500;
}

.conteudo-escola p {
  font-size: 1.6rem;
  line-height: 1.8;
}

#section4 {
  padding: 5rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: center;
}

.h2-contato {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto 8rem;
}

#section4 iframe {
  width: 100%;
}

.info-contato {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

address {
  text-align: end;
}

.info-contato p {
  margin: 0;
  line-height: 1.2;
}

.footer-hero {
  background-color: var(--color-background);
  padding: 1rem;
}

.footer-hero p {
  color: #eef3f5;
  text-align: center;
}
