*{
    /* margin: 0; */
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: radial-gradient(circle , rgb(45, 0, 128) 70%, purple);
    font-family: 'roboto';
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogo{
    width: 600px;
    background-color: #f7f4f4;
    border-radius: 5px;
    gap: 10px;
    text-align: center;
    box-shadow: 0px 15px 20px -10px rgba(0 0 0 / .6);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); 
}


.jogo h1{
    font-weight: 100;
}

.container-cartas{
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-evenly;
    perspective: 500px;
}

label{
    margin-bottom: 3vw;
    transform-style: preserve-3d;
    /* border: 1px solid red; */
}

.card{
    width: 90px;
    height: 70px;
    /* background-color: red; */
    position: relative;
    transition: transform 0.3s ease;
    
    border: 2px solid red;
    border-radius: 6px;
    
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;

}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    /* object-fit: cover; */
    /* display: block; */
}

.front{
    transform: rotateY(180deg);
    /* backface-visibility: hidden; */
}

.back{
    /* backface-visibility: hidden; */
}

.front, .back{
    backface-visibility: hidden;
}

input[type="checkbox"]:checked + label{
    transform: rotateY(180deg);
}