:root {
  --page-bg: #0b090d;
  --grid-gap: 0.75rem;
  --grid-margin: 1.5rem;
  --text-color: #fff;
  --text-size: 0.75rem;
  --primary-color: #ee3231;

  --h1-size: 1.75rem;
  --h2-size: 1.5rem;
  --h3-size: 1.5rem;

  --button-padding-y: 1rem;
  --button-padding-x: 2.25rem;
  --button-font-size: 1rem;

  --section-distance-top: 4.5rem;
  --subsection-distance-gap: 3.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  background: var(--page-bg)
    linear-gradient(to bottom, #1d0738ff 30%, #1d073800 50%) fixed;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  margin-right: var(--grid-margin);
  margin-left: var(--grid-margin);
}

.no-wrap {
  text-wrap: nowrap;
}

.logoicon {
  /* background-color: #1d0738; */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.75rem;
  background: linear-gradient(to bottom, #1d0738ff 80%, #1d073800);
}

.logoicon__logo {
  width: 12rem;

  .logoicon__logo__img {
    width: 100%;
  }
}

.logoicon__icon__svg {
  width: 3rem;
}

.nav-menu {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
  }

  a {
    padding: 0.75rem;
    display: inline-block;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #e63dc0;
    }
  }
}

h1 {
  font-size: var(--h1-size);
  font-weight: 900;
  line-height: 1;
  text-wrap: balance;
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.hero__title {
  margin-bottom: 1.25em;
}

.hero__title--upper {
  display: block;
  margin-top: 0.5rem;
  text-transform: uppercase;
  color: #1d0738ff;
  /* -webkit-text-stroke: 2px var(--text-color); */
  text-shadow: 2px 2px var(--text-color), -2px -2px var(--text-color),
    2px -2px var(--text-color), -2px 2px var(--text-color);
}

.btn {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: 10rem;
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: var(--button-font-size);
}

main > * {
  margin-top: var(--section-distance-top);
}

.h2 {
  text-align: center;
  font-weight: 900;
  font-size: var(--h2-size);
}

.title--thin {
  font-weight: 100;
  font-style: italic;
  display: block;
}

.courses,
.courses__list {
  display: flex;
  flex-direction: column;
  gap: var(--subsection-distance-gap);
}

.courses__card {
  text-align: center;
}

.courses__card__img {
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

.h3 {
  font-size: var(--h3-size);
  font-weight: 900;
  text-align: center;
}

p {
  font-size: var(--text-size);
}

.btn--stroke {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.courses__card__content {
  margin-top: 1rem;

  p {
    margin: 1.625rem;
  }
}

.courses__card__ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: var(--subsection-distance-gap);
}

.testimonials__carroussel__wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 1rem;
  padding-right: var(--grid-gap);
  scroll-snap-type: x mandatory;

  img {
    margin-left: var(--grid-gap);
    width: calc(100% - (var(--grid-gap)) * 2);
    flex: 0 0 calc(100% - (var(--grid-gap)) * 2);
    scroll-snap-align: center;
    align-items: center;

    &:first-child {
      margin-left: var(--grid-margin);
    }

    &:last-child {
      margin-right: var(--grid-margin);
    }
  }
}

main {
  /* Firefox */
  /* * {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) transparent;
  } */

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    height: 0.25rem;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    /* border-radius: 0px;
    border: 23px solid #e1ff00; */
  }
}

.books,
.books__list {
  display: flex;
  flex-direction: column;
  gap: var(--subsection-distance-gap);
}

.books__card {
  text-align: center;
}

.books__card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.books__card__ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.btn--ghost {
  background-color: transparent;
  color: var(--primary-color);
}

.books__card__price {
  font-weight: 900;
  font-size: 2rem;
}

.news {
  background-color: var(--primary-color);
  background-image: url(../images/bg-red.png);
  background-position: center;
  background-size: cover;
  padding: var(--grid-margin);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.news__content {
  display: flex;
  /* outline: 1px solid white; */

  .btn {
    margin-left: auto;
  }

  .news__whatsapp {
    margin-right: var(--grid-margin);
    width: 3rem;
    height: 3rem;
    background-color: #25d366;
    border-radius: 50%;
  }

  .news__telegram {
    margin-right: var(--grid-margin);
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
  }
}

.news__seta {
  display: none;
}

.books-others {
  display: flex;
  flex-direction: column;
  gap: var(--subsection-distance-gap);
}

.books-others__wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 1rem;
  padding-right: var(--grid-gap);
  scroll-snap-type: x mandatory;
}

.books-others__card {
  margin-left: var(--grid-gap);
  width: calc(100% - (var(--grid-gap)) * 2);
  flex: 0 0 calc(100% - (var(--grid-gap)) * 2);
  scroll-snap-align: center;
  display: flex;
  gap: var(--grid-gap);

  &:first-child {
    margin-left: var(--grid-margin);
  }

  &:last-child {
    margin-right: var(--grid-margin);
  }
}

.books-others__card__img {
  width: 32%;
}

.books-others__card__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--grid-gap);

  .btn {
    margin-top: auto;
    align-self: start;
  }

  .h3 {
    text-align: left;
  }
}

.btn--center {
  margin: auto;
}

.footer {
  background-color: #070608;
  text-align: center;
  padding-top: var(--section-distance-top);
  margin-top: var(--section-distance-top);
  padding-bottom: var(--section-distance-top);

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--grid-margin);
    align-items: center;
  }

  p {
    font-size: 1rem;
  }
}

.footer__logo {
  width: 7.5rem;
}

.footer__socialLinks {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  /* outline: 1px solid red; */
  align-self: stretch;
  margin-top: 5rem;
  margin-bottom: 7rem;

  img {
    width: 2.6rem;
  }
}

.sm-hide {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  top: 0;
}

@media screen and (width <= 48rem) {
  .sm-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    top: 0;
  }
}

@media screen and (width > 48rem) {
  :root {
    --h1-size: 3.25rem;
    --h2-size: 2.25rem;
    --h3-size: 1.75rem;
    --button-font-size: 1.25rem;
    --text-size: 1rem;

    --grid-gap: 1.25rem;
    --grid-margin: 2rem;
  }

  body {
    background: var(--page-bg)
      linear-gradient(to bottom, #1d0738ff 30%, #1d073800 50%) no-repeat;
    background-size: 100% 100vh;
  }

  .md-hide {
    display: none;
  }

  .md-show {
    display: revert;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 4.375rem;
    padding-bottom: 3.375rem;
    background: linear-gradient(to bottom, #1d0738ff 80%, #1d073800);
    z-index: 1;
  }

  .logoicon__logo {
    width: 18rem;
    margin: auto;
  }

  .nav-menu {
    margin-top: 1.75rem;
  }

  .nav-menu ul {
    flex-direction: row;
    justify-content: center;
  }

  .hero {
    gap: 4.5rem;
  }

  .hero__cta {
    position: relative;
    left: 0.5rem;

    &::before {
      content: "";
      background-image: url(../images/alvo.png);
      background-size: 100%;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      width: 5rem;
      height: 5rem;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  .courses__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--grid-gap);

    &::before,
    &::after {
      content: "";
      width: 12.5rem;
      height: 3.875rem;
      background-image: url(../images/estrelas.png);
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
    }

    &::after {
      transform: scale(-1, 1);
    }
  }

  .courses {
    gap: calc(var(--subsection-distance-gap) * 1.25);
  }

  .courses__card {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-gap);
    text-align: left;
  }

  .courses__card__img {
    grid-column: 1 / 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .courses__card__content {
    grid-column: 4 / -1;

    .h3 {
      text-align: left;
    }

    p {
      margin: 1.625rem 0;
    }
  }

  .courses__card__ctas {
    flex-direction: row;
    justify-content: end;
  }

  .testimonials__carroussel__wrapper img {
    flex: auto;
  }

  .testimonials__carroussel {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 9rem;
      height: 100%;
      pointer-events: none;
      z-index: 2;
    }

    &::before {
      left: 0;
      background-image: linear-gradient(
        to right,
        var(--page-bg) var(--grid-margin),
        #1d073800
      );
    }

    &::after {
      right: 0;
      background-image: linear-gradient(
        to left,
        var(--page-bg) var(--grid-margin),
        #1d073800
      );
    }
  }

  .books__card {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-gap);
    text-align: left;
  }

  .books__card__img {
    grid-column: 1 / 3;
    width: 100%;
    object-fit: cover;
  }

  .books__card__content {
    grid-column: 3 / -1;
    text-align: left;

    .h3 {
      text-align: left;
    }
  }

  .books__card:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .books__card:nth-child(odd) .books__card__img {
    grid-column: 7 / -1;
    order: 2;
    width: 100%;
  }

  .books__card:nth-child(odd) .books__card__content {
    grid-column: 1 / 7;
    text-align: right;

    .h3 {
      text-align: right;
    }
  }

  .books__card__ctas {
    flex-direction: row;
  }

  .books__card:nth-child(odd) .books__card__ctas {
    flex-direction: row;
    justify-content: end;
  }

  .news__content {
    gap: var(--grid-gap);
    align-items: center;
    justify-content: space-between;

    text-align: right;

    .seta {
      width: 4rem;
      transform: rotate(20deg);
    }
  }

  .news_icon_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: var(--grid-gap); */
  }

  .books-others__card {
    align-items: start;
    padding-right: var(--grid-margin);
  }

  .books-others__card,
  .books-others__card:first-child {
    margin: 0;
    padding-left: var(--grid-margin);
    padding-right: 0;
  }

  .books-others__card {
    scroll-snap-type: start;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-gap);
    text-align: left;
  }

  .books-others__wrapper {
    padding-right: 0;
  }

  .books-others__card__img {
    grid-column: 1 / 3;
    width: 100%;
    object-fit: cover;
  }

  .books-others__card__content {
    grid-column: 3 / -2;
  }

  .books-others__card__description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    line-height: 1.4;
    margin-bottom: calc(var(--grid-gap) / 2);
  }

  .footer .container {
    width: 33.26%;
    text-align: left;
    text-wrap: balance;
    gap: 0.25rem;
    align-items: start;

    p {
      font-size: 1.25rem;
    }
  }

  .footer__socialLinks {
    margin-top: 1rem;

    li {
      width: 2.25rem;
    }
  }
}

@media screen and (width >= 60rem) {
  :root {
    --h1-size: 4rem;
    --h2-size: 2.5rem;
    --h3-size: 2.25rem;

    --grid-margin: 4rem;

    --section-distance-top: 9rem;
    --subsection-distance-gap: 7.75rem;
  }

  .header {
    padding: 3rem 0;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    margin: 0;
  }

  main {
    *::-webkit-scrollbar {
      height: 0.5rem;
    }
  }

  .logoicon__logo {
    width: 8rem;
    margin: 0;
  }

  .courses__card {
    grid-template-columns: repeat(12, 1fr);
  }

  .courses__card__img {
    grid-column: 1 / 6;
  }

  .courses__card__content {
    grid-column: 6 / -2;
  }

  .books__card {
    grid-template-columns: repeat(12, 1fr);
  }

  .books__card__img {
    grid-column: 2 / 5;
    width: 100%;
    object-fit: cover;
  }

  .books__card__content {
    grid-column: 5 / -2;
  }

  .books__card:nth-child(odd) {
    .books__card__img {
      grid-column: 9 / -2;
    }

    .books__card__content {
      grid-column: 2 / 9;
    }
  }

  .news {
    grid-template-columns: repeat(12, 1fr);

    & > * {
      grid-column: 2 / -2;
    }
  }

  .books-others__card {
    grid-template-columns: repeat(12, 1fr);
  }

  .books-others__card__img {
    grid-column: 2 / 4;
    width: 100%;
    object-fit: cover;
  }

  .books-others__card__content {
    grid-column: 4 / -2;
  }

  .footer .container {
    width: 32.31%;
  }

  .footer__logo {
    max-width: 7.5rem;
  }

  .footer__socialLinks {
    width: 6rem;
    gap: var(--grid-gap);
  }

  .hero {
    background-image: url("../images/css.png"), url("../images/html.png"),
      url("../images/figma.png"), url("../images/js.png");
    background-repeat: no-repeat;
    background-position: left 5% top, right 5% top, left -2% bottom 5%, right -2% bottom 5%;
    background-size: 10rem, 10rem, 10rem, 10rem;

    margin: 0;
    padding: var(--subsection-distance-gap) var(--grid-margin) 3rem;

    .btn {
      margin: 0 auto;
    }
  }

  .hero .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* gap: 5rem; */
  }

  .hero .container > * {
    grid-column: 2 / -2;
  }

  @keyframes scrollloop {
    0% {
      transform: translateX(0);
    }
    100% {
      /* transform: translateX(-1760px); */
      /* transform: translateX(calc(-440px * 4)); */
      will-change: transform;
      transform: translateX(
        calc((var(--W) + var(--grid-gap)) * var(--qtd) * -1)
      );
    }
  }

  .js-enabled.testimonials__carroussel__wrapper {
    --W: 26.25em;
    overflow: hidden;
    animation: scrollloop 20s linear infinite;
    width: max-content;

    img {
      margin-left: var(--grid-gap);
      width: var(--W);
      flex-shrink: 0;
    }

    &:hover {
      animation-play-state: paused;
    }
  }

  .books-others__carroussel {
    position: relative;
  }

  .js {
    .books-others__carroussel__wrapper {
      --currentIndex: 0;
      overflow: hidden;
    }

    .books-others__card {
      transition: transform 0.3s ease-in-out;
      transform: translateX(calc(var(--currentIndex) * -100%));
    }
  }

  .books-others__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
  }

  .prev,
  .next {
    background-color: red;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 2;

    &::after {
      content: "";
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .prev {
    left: var(--grid-margin);

    &::after {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }

  .next {
    right: var(--grid-margin);
  }

  .carroussel-indicators {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* margin-top: 1rem; */
  }

  .indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff8;
    margin: 0 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .indicator.active {
    background-color: #fff;
  }

  .lg-show {
    display: revert;
  }

  .no-js {
    .books-others__btn,
    .indicators {
      display: none;
    }
  }

  .hero {
    --parallax-speed-1: .5;
    --parallax-speed-2: .4;
  }
}
