.navbar {
    background-color: #1146a6;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: .8rem;
}

.navbar a {
    color: #fff;
}