:root {
  --primary-color: #ff7833;
  --secondary-color: #31333b;
  --secondary-color-light: #444856;
  --secondary-color-dark: #23252d;
  --default-gap: 3rem;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  margin: 0;
  color: #e7e7e7;
  background-color: #ccc;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  line-height: 1.7;
  background-image: url(../imagens/bg-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.redes-sociais a{
  color: white;
  text-decoration: none;
  margin-right: 2.8rem;
  transition: color .2s ease-in-out;
  font-style: normal;
}

.redes-sociais svg{
  width: 2.4rem;
  height: 2.4rem;
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  margin-left: 1rem;
}

.redes-sociais a:hover{
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
  color: #a9a7a7;
  margin: 2rem 0 3rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin: 0;
}

h2{
  margin-top: 1rem;
}

.highlight {
  border-left: 1px solid var(--primary-color);
  font-size: 1.1em;
  padding: 0 0 0 2em;
  margin-bottom: 2.2em;
}

article {
  padding: 1em 0;
}

section{
  margin-bottom: 3rem;
}

.underline{
  text-decoration: red wavy underline;
}

.main-header {
  flex: 0 0 26rem;
  background-color: rgba(49, 51, 59, .8);
  /* scroll-behavior: initial; */
}

.main-nav{
  position: sticky;
  top: 0;
  left: 0;
}

.main {
  /* background-color: var(--secondary-color-light); */
  background-color: rgba(68, 72, 86, .6);
  flex: 1 0;
  padding: 4.5rem 6rem 7rem;
}

a {
  color: inherit;
}

.main,
.main-header {
  font-size: 1.6rem;
}

.perfil-img {
  max-width: 10rem;
}

.main-nav {
  width: 100%;
  text-align: right;
  padding: 4.5rem 2.4rem 2.4rem;
  box-sizing: border-box;
}

.main-nav ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

.main-nav ul a {
  background-color: transparent;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #4a4c57;
  padding: 1.2rem 0;
  width: 100%;
  transition: padding-right 0.2s ease-in-out, background-color 0.4s ease-in-out;
  box-sizing: border-box;
}

.main-nav ul a:hover,
.main-nav ul a:focus {  
  background-color: var(--secondary-color-light);
  padding-right: 1rem;
}

.main-nav li {
  border-bottom: 1px solid #7b7b7b;
  padding: 0.4rem 0;
}

.card{
  max-width: 740px;
  background-color: var(--secondary-color);
  padding: 0;
}

.card-content {
  padding: .5em 1em 1em;
}

.card-content p,
.card-title {
  margin: 0;
}

.card-title {
  font-size: 1.75em;
}

.card img{
  max-width: 100%;
}

.row{
  display: flex;
  gap: var(--default-gap);
  padding-top: 1.5rem;
  justify-content: space-between;
}

.row > *{
  flex: 1 0 0%;

}

.row .row{
  padding-top: 0;
}

.alternates{
  list-style: none;
  padding-left: 0px;
}

.alternates li{
  padding: 0;
}

.alternates li:not(:last-child){
  border-bottom: 2px solid;
}

.roman{
  list-style: upper-roman;
}

.list-emoji{
  list-style: "\1f602";
}

input,
label,
textarea,
select{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"]{
  width: auto;
}

input,
textarea,
 select{
  background-color: #ccc;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.6rem;
}

.btn{
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color-dark);
  color: white;
  font-size: 1.2rem;
  transition: background-color .1s linear;
  padding: .8em 1.2em;
  border-radius: 5px;
}

.btn:hover,
 .btn:focus{
  background-color: var(--secondary-color-dark);
}     

.form-quiz{
  width: calc(50% - var(--default-gap)/2);
}

.btn-stroke{
  background-color: transparent;
}

.btn-align{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.big-btn{
  font-size: 1.6rem;
}

.btn-full{
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

th{
  text-transform: uppercase;
}

.table th,
.table td{
  padding: 1.6rem 1rem;
  text-align: left;
  width: 33.3%;
  
}

.table th:last-child,
.table td:last-child{
  text-align: right;
}

.table th,
.table tr:not(:last-child){
  border-bottom: 2px solid var(--secondary-color-dark);
}

.alternate-table tbody tr:nth-child(odd){
  background-color: var(--secondary-color-dark);
}

.separate-table th:not(:first-child),
 .separate-table td:not(:first-child){
  border-left: 1px solid var(--secondary-color);
}