

a[target="_blank"]::after {
  content: url(imagens/newWindow-icon.png);
  margin-left: 0.5em;
}

a[href$=".pdf"]::before {
  content: url(imagens/pdf-icon.gif);
  margin-right: 0.5em;
}

input[type="checkbox"]:checked + label {
  color: green;
}

input[type="checkbox"]:not(:checked) + label {
  color: red;
}

input[type="checkbox"]:disabled + label {
  color: blue;
}

li li:nth-of-type(3) {
  background-color: red;
}

