*{
    margin: 0;
    padding: 0;
}

:root{
    --gap-gallery: .6rem
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 1rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    background-color: white;
    box-sizing: content-box;
    padding: 1rem;
    gap: var(--gap-gallery);
    
}

.image{
    width: calc(25% - var(--gap-gallery) + .15rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.image a{
    height: 100%;
    display: block;
    color: white;
    text-decoration: none;
}

.image p{
    /* position: absolute; */
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: .4rem 0;
    transform: translateY(0);
    transition: .5s;
}

.image a:hover p{
    display: block;
    transform: translateY(-100%);
    background-color: rgba(1, 1, 1, .7);
    opacity: 1; 
}

.image img{
    width: 100%;
    height: auto;
    display: block;
    opacity: .5;
    transition: 0.5s;
}

.image:hover img{
    opacity: 1;
    transform: scale(1.1);
}