* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap-gallery: 0.5rem;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 2rem;
  font-family: sans-serif;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60rem;
  width: 80%;
  min-width: 40rem;
  background-color: white;
  padding: 1rem;
  gap: var(--gap-gallery);
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.8);
}

.image {
  flex-basis: calc(25% - var(--gap-gallery));
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.image a {
  height: 100%;
  display: block;
  color: white;
  text-decoration: none;
}

.image p {
  /* position: absolute; */
  text-align: center;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  transform: translateY(0);
  transition: all .3s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .75rem;
  opacity: .2;
}

.image a:hover p {
  transform: translateY(-100%);
  background-color: rgba(1, 1, 1, .8);
  opacity: 1;
}

.image img {
  width: 100%;
  display: block;
  opacity: 0.5;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.image:hover img {
  opacity: 1;
  transform: scale(1.2);
}
