body {
    background-image: radial-gradient(ellipse at 0 0, #fff8ce, #ffb61d);

    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    /* overflow-y: hidden; */
}

#wrapper {
    flex-direction: column;
    width: 90%;
    max-width: 1340px;
    margin: 0 auto;
    min-height: 100vh;
}

header{
    padding: 50px 0;
}

header img{
    /* width: 10rem; */
}

main{
    display: flex;
    gap: 2rem;
}

h1{
    font-size: 60px;
    margin: 0;
    /* line-height: 1.5; */
}

h1 strong{
    text-transform: uppercase;
    color: brown;
}

.upper{
    text-transform: uppercase;
}

form{
    display: flex;
    gap: 1rem;
}

form input{
    padding: 1rem;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #2829e3;
    outline: none;
}

input[type="text"]{
    /* font-size: .6rem; */
    background-color: transparent;
}

input[type="submit"]{
    background-color: #031d44;
    color: white;
    cursor: pointer;
}

input[type="text"]::placeholder{
    color: #2829e3
}

main > *{
    /* flex-grow: 1;
    flex-basis: 0; */
    flex: 1 0 0;
}

.animation{
    position: relative;
}

.animation img{
    position: absolute;
    
}

.emojiOlho{
    left: -30px;
    top: 100px;
    animation: topLeft 3s infinite alternate;
}

.emojiFechado{
    right: -30px;
    top: -20px;
    animation: topLeft 3s .5s infinite alternate;
}

.emojiLove{
    right: 0;
    top: -100px;
    animation: topLeft 3.5s .5s infinite alternate;
}

.emojiLagrima{
    left: 50px;
    bottom: -130px;
    animation: topLeft 4s .5s infinite alternate;
}

.emojiLingua{
    left: 50px;
    top: -160px;
    animation: topLeft 3s infinite alternate;
}

.emojiSupreso{
    right: 80px;
    bottom: -120px;
    animation: topLeft 4s infinite alternate;
}

@keyframes topLeft{
    from{
        transform: translate(0, 0);
    }

    to{
        transform: translate(-10px, -30px);
    }
}